---
layout: default
title: Topics • GSoC
description: blogs about GSoC by Tao He
---

<div class="home">
  {% assign tag = "GSoC" %}
  <h3 id="{{ tag }}">{{ tag }}</h3>
  <ul>
    {% for post in site.posts %}
      {% for otag in post.tags %}
        {% if tag == otag %}
          <li class="alink">
            <h3>
              <a href="{{ post.url }}" class="red-link">{{ post.date | date: "%Y-%m-%d" }}&emsp;{{ post.title }}</a>
            </h3>
            {%- if site.excerpt_separator -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>
